# 2. Data Wrangling
### 데이터를 처음 format에서 분석하기 좋은 형태로 바꾸는 것

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [20]:
# 데이터 불러오기
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
headers = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", "body-style", "drive-wheels", "engine-location", "wheel-base", "length", "width", "height", "curb-weight", "engine-type", "num-of-cylinders","engine-size", "fuel-system","bore", "stroke", "impression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]
car = pd.read_csv(url, names=headers)
car

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,impression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

### Convert ? to NaN
? : Python's default missing value marker, 속도와 편의성 때문

In [21]:
# ?를 NaN으로 바꾸기 - replace
car.replace('?', np.nan, inplace = True )
car.head(3)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,impression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

In [22]:
# missing data 찾기 1
missing_data = car.isnull()
missing_data
# 2
missing_data = car.notnull()
missing_data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,impression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,True,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
201,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
202,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
203,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
204,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [23]:
missing_data.columns                     # index로 불러옴
missing_data.columns.values              # array로 불러옴
missing_data.columns.values.tolist()     # list로 불러옴

['symboling',
 'normalized-losses',
 'make',
 'fuel-type',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'engine-location',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-type',
 'num-of-cylinders',
 'engine-size',
 'fuel-system',
 'bore',
 'stroke',
 'impression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price']

In [24]:
# 컬럼별 missing value의 개수 세기
for column in missing_data.columns.values.tolist() :
    print(column)       # pandas의 dataframe아니고는 print 써야함
    print(missing_data[column].value_counts())     # 값을 보여줌
    print('')           # 한줄 띄우기

symboling
True    205
Name: symboling, dtype: int64

normalized-losses
True     164
False     41
Name: normalized-losses, dtype: int64

make
True    205
Name: make, dtype: int64

fuel-type
True    205
Name: fuel-type, dtype: int64

aspiration
True    205
Name: aspiration, dtype: int64

num-of-doors
True     203
False      2
Name: num-of-doors, dtype: int64

body-style
True    205
Name: body-style, dtype: int64

drive-wheels
True    205
Name: drive-wheels, dtype: int64

engine-location
True    205
Name: engine-location, dtype: int64

wheel-base
True    205
Name: wheel-base, dtype: int64

length
True    205
Name: length, dtype: int64

width
True    205
Name: width, dtype: int64

height
True    205
Name: height, dtype: int64

curb-weight
True    205
Name: curb-weight, dtype: int64

engine-type
True    205
Name: engine-type, dtype: int64

num-of-cylinders
True    205
Name: num-of-cylinders, dtype: int64

engine-size
True    205
Name: engine-size, dtype: int64

fuel-system
True    205
Name: fuel-system, dtype: int64

bore
True     201
False      4
Name: bore, dtype: int64

stroke
True     201
False      4
Name: stroke, dtype: int64

impression-ratio
True    205
Name: impression-ratio, dtype: int64

horsepower
True     203
False      2
Name: horsepower, dtype: int64

peak-rpm
True     203
False      2
Name: peak-rpm, dtype: int64

city-mpg
True    205
Name: city-mpg, dtype: int64

highway-mpg
True    205
Name: highway-mpg, dtype: int64

price
True     201
False      4
Name: price, dtype: int64

In [25]:
# Normalized-loss열 NaN값을 mean으로 바꾸기
# dtype이 int64(평균 못 구함)라서 float으로 바꿔야 mean 계산 가능
# 컬럼만 부르면 series이기 때문에 1행밖에 없음 - axis 지정 안해도 됨
avg_norm_loss = car['normalized-losses'].astype('float').mean(axis=0)
avg_norm_loss

122.0

In [26]:
# NaN을 평균값으로 바꾸기
car['normalized-losses'].replace(np.nan, avg_norm_loss, inplace=True)
car['normalized-losses'].values

array([122.0, 122.0, 122.0, '164', '164', 122.0, '158', 122.0, '158',
       122.0, '192', '192', '188', '188', 122.0, 122.0, 122.0, 122.0,
       '121', '98', '81', '118', '118', '118', '148', '148', '148', '148',
       '110', '145', '137', '137', '101', '101', '101', '110', '78',
       '106', '106', '85', '85', '85', '107', 122.0, 122.0, 122.0, 122.0,
       '145', 122.0, 122.0, '104', '104', '104', '113', '113', '150',
       '150', '150', '150', '129', '115', '129', '115', 122.0, '115',
       '118', 122.0, '93', '93', '93', '93', 122.0, '142', 122.0, 122.0,
       122.0, '161', '161', '161', '161', '153', '153', 122.0, 122.0,
       122.0, '125', '125', '125', '137', '128', '128', '128', '122',
       '103', '128', '128', '122', '103', '168', '106', '106', '128',
       '108', '108', '194', '194', '231', '161', '161', 122.0, 122.0,
       '161', '161', 122.0, 122.0, '161', '161', '161', '119', '119',
       '154', '154', '154', '74', 122.0, '186', 122.0, 122.0, 122.0,
       122.0, 122.0, 122.0, '150', '104', '150', '104', '150', '104',
       '83', '83', '83', '102', '102', '102', '102', '102', '89', '89',
       '85', '85', '87', '87', '74', '77', '81', '91', '91', '91', '91',
       '91', '91', '91', '91', '168', '168', '168', '168', '134', '134',
       '134', '134', '134', '134', '65', '65', '65', '65', '65', '197',
       '197', '90', 122.0, '122', '122', '94', '94', '94', '94', '94',
       122.0, '256', 122.0, 122.0, 122.0, '103', '74', '103', '74', '103',
       '74', '95', '95', '95', '95', '95'], dtype=object)

In [27]:
# Bore열 NaN값 mean으로 바꾸기
avg_bore = car['bore'].astype('float').mean()
avg_bore
# NaN값 바꾸기
car['bore'].replace(np.nan, avg_bore, inplace=True)
car['bore'].values

array(['3.47', '3.47', '2.68', '3.19', '3.19', '3.19', '3.19', '3.19',
       '3.13', '3.13', '3.50', '3.50', '3.31', '3.31', '3.31', '3.62',
       '3.62', '3.62', '2.91', '3.03', '3.03', '2.97', '2.97', '3.03',
       '2.97', '2.97', '2.97', '3.03', '3.34', '3.60', '2.91', '2.91',
       '2.91', '2.91', '2.91', '2.91', '2.92', '3.15', '3.15', '3.15',
       '3.15', '3.15', '3.15', '3.31', '3.03', '3.03', '3.43', '3.63',
       '3.63', '3.54', '3.03', '3.03', '3.03', '3.03', '3.08',
       3.3297512437810957, 3.3297512437810957, 3.3297512437810957,
       3.3297512437810957, '3.39', '3.39', '3.39', '3.39', '3.39', '3.39',
       '3.76', '3.43', '3.58', '3.58', '3.58', '3.58', '3.46', '3.46',
       '3.80', '3.80', '3.78', '2.97', '2.97', '2.97', '3.03', '3.17',
       '3.35', '3.58', '3.59', '3.59', '3.35', '3.35', '3.17', '3.17',
       '3.15', '2.99', '3.15', '3.15', '3.15', '3.15', '3.15', '3.15',
       '3.15', '3.15', '3.33', '3.33', '3.43', '3.43', '3.43', '3.43',
       '3.43', '3.43', '3.46', '3.70', '3.46', '3.70', '3.46', '3.70',
       '3.46', '3.70', '3.46', '3.70', '3.61', '2.97', '3.03', '2.97',
       '2.97', '2.97', '3.35', '3.59', '3.94', '3.74', '3.74', '3.74',
       '3.94', '3.46', '3.46', '3.54', '3.54', '2.54', '3.54', '3.54',
       '3.54', '3.62', '3.62', '3.62', '3.62', '3.62', '3.62', '3.62',
       '3.62', '3.62', '3.62', '3.62', '3.62', '3.05', '3.05', '3.05',
       '3.05', '3.05', '3.05', '3.19', '3.19', '3.27', '3.27', '3.19',
       '3.19', '3.19', '3.19', '3.19', '3.24', '3.24', '3.62', '3.62',
       '3.62', '3.62', '3.62', '3.62', '3.31', '3.27', '3.31', '3.31',
       '3.31', '3.27', '3.27', '3.27', '3.27', '3.01', '3.19', '3.01',
       '3.19', '3.19', '3.01', '3.19', '3.19', '3.19', '3.19', '3.01',
       '3.19', '3.78', '3.78', '3.78', '3.78', '3.62', '3.62', '3.78',
       '3.78', '3.58', '3.01', '3.78'], dtype=object)

In [28]:
# Stroke열 NaN값 평균으로 바꾸기
avg_stroke = car['stroke'].astype('float').mean()
avg_stroke
# NaN값 바꾸기
car['stroke'].replace(np.nan, avg_stroke, inplace=True)
car['stroke'].values

array(['2.68', '2.68', '3.47', '3.40', '3.40', '3.40', '3.40', '3.40',
       '3.40', '3.40', '2.80', '2.80', '3.19', '3.19', '3.19', '3.39',
       '3.39', '3.39', '3.03', '3.11', '3.11', '3.23', '3.23', '3.39',
       '3.23', '3.23', '3.23', '3.39', '3.46', '3.90', '3.41', '3.41',
       '3.07', '3.41', '3.41', '3.41', '3.41', '3.58', '3.58', '3.58',
       '3.58', '3.58', '3.58', '3.23', '3.11', '3.11', '3.23', '4.17',
       '4.17', '2.76', '3.15', '3.15', '3.15', '3.15', '3.15',
       3.2554228855721337, 3.2554228855721337, 3.2554228855721337,
       3.2554228855721337, '3.39', '3.39', '3.39', '3.39', '3.39', '3.39',
       '3.16', '3.64', '3.64', '3.64', '3.64', '3.64', '3.10', '3.10',
       '3.35', '3.35', '3.12', '3.23', '3.23', '3.23', '3.39', '3.46',
       '3.46', '3.86', '3.86', '3.86', '3.46', '3.46', '3.46', '3.46',
       '3.29', '3.47', '3.29', '3.29', '3.29', '3.29', '3.29', '3.29',
       '3.29', '3.29', '3.47', '3.47', '3.27', '3.27', '3.27', '3.27',
       '3.27', '3.27', '3.19', '3.52', '3.19', '3.52', '2.19', '3.52',
       '2.19', '3.52', '3.19', '3.52', '3.21', '3.23', '3.39', '3.23',
       '3.23', '3.23', '3.46', '3.86', '3.11', '2.90', '2.90', '2.90',
       '3.11', '3.90', '3.90', '3.07', '3.07', '2.07', '3.07', '3.07',
       '3.07', '2.36', '2.64', '2.64', '2.64', '2.64', '2.64', '2.64',
       '2.64', '2.64', '2.64', '2.64', '2.64', '3.03', '3.03', '3.03',
       '3.03', '3.03', '3.03', '3.03', '3.03', '3.35', '3.35', '3.03',
       '3.03', '3.03', '3.03', '3.03', '3.08', '3.08', '3.50', '3.50',
       '3.50', '3.50', '3.50', '3.50', '3.54', '3.35', '3.54', '3.54',
       '3.54', '3.35', '3.35', '3.35', '3.35', '3.40', '3.40', '3.40',
       '3.40', '3.40', '3.40', '3.40', '3.40', '3.40', '3.40', '3.40',
       '3.40', '3.15', '3.15', '3.15', '3.15', '3.15', '3.15', '3.15',
       '3.15', '2.87', '3.40', '3.15'], dtype=object)

In [29]:
# Horespower의 NaN값 바꾸기
avg_hpw = car['horsepower'].astype('float').mean()
avg_hpw
car['horsepower'].replace(np.nan, avg_hpw, inplace=True)

In [30]:
# Peak-rpm의 NaN값 바꾸기
avg_rpm = car['peak-rpm'].astype('float').mean()
avg_rpm
car['peak-rpm'].replace(np.nan, avg_rpm, inplace=True)

In [31]:
# Num-of-doors의 NaN값 바꾸기 - frequency(mode)로 바꾸기
car['num-of-doors'].value_counts()            # 특정 컬럼의 값 보기
car['num-of-doors'].value_counts().idxmax()   # 그 중 최빈도 구하기
car['num-of-doors'].replace(np.nan, car['num-of-doors'].value_counts().idxmax(), inplace=True)
# 또는
car['num-of-doors'].replace(np.nan, "four", inplace=True)
car['num-of-doors'].value_counts()

four    116
two      89
Name: num-of-doors, dtype: int64

In [32]:
# price(구하려는 값)의 NaN값이 있는 행은 drop하기
car.dropna(subset=['price'], axis=0, inplace=True)
car['price'].isnull().value_counts()

False    201
Name: price, dtype: int64

# Data Formatting in Python

In [33]:
# data type 바꾸기 - NaN이 섞여있으면 type 못바꿈
car[['bore', 'stroke']] = car[['bore' ,'stroke']].astype('float')
car['normalized-losses'] = car['normalized-losses'].astype('int')
car['price'] = car['price'].astype('float')
car['peak-rpm'] = car['peak-rpm'].astype('float')

# Data Standardization 
Data를 분석에 맞게 필요한 단위로 바꾸는 것

In [34]:
# 컬럼 전체 값을 바꾸고 이름 바꾸기 - rename
car['city-mpg'] = 235 / car['city-mpg']         # entry 값 변환
car.rename(columns={'city-mpg':'cty-L/100km'}, inplace=True)
# 또는 추가 컬럼 만들기
car['city-L/100km'] = 235 / car['city-mpg']

KeyError: 'city-mpg'

In [ ]:
# Highway-mpg에도 해보기
car['highway-mpg'] = 235 / car['highway-mpg']
car.rename(columns={'highway-mpg':'highway-L/100km'}, inplace=True)
car.head()

In [ ]:
# 불필요하게 늘어나버린 컬럼 drop하기
# car.drop(columns=['city-L/100km'], inplace=True)
# car.drop(columns=['highway-L/100km'], inplace=True)  # 여러 컬럼중이 앞에 컬럼이 사라짐

# Data Normalization

자료 분석할 때(such as linear regression), 자료의 단위가 큰 쪽이 단위가 작은쪽보다 impact가 크다.

이것을 피하기 위해 모두 eg) 0~1 사이의 값으로 변환하는 것 : normalization

**Normalizaion 방법**
* Simple feature scaling(0~1) : 그 열의 최대값으로 나눠주는 것
* Min-Max(0~1) : 그 열의 최소값과의 차이를 범위차이로 나눠주는 것, x_new = (x_old -x_min)/(x_max - x_min)
* Z-score(보통 -3~3) : 표준정규분포로 전환

In [ ]:
# Simple feature scaling으로 normalization
car['length'] = car['length']/car['length'].max()
car['width'] = car['width']/car['width'].max()
car['height'] = car['height']/car['height'].max()
car[['length', 'width', 'height']]

In [ ]:
# Min-Max로 normalization
(car['highway-mpg']-car['highway-mpg'].min()) / (car['highway-mpg'].max()-car['highway-mpg'].min())

In [ ]:
# Z-score normalization
(car['highway-mpg']-car['highway-mpg'].mean()) / car['highway-mpg'].std()

# Binning in Python
numerical을 categorical 'bin'으로 바꾸어서 그룹분석을 위한 것

-->  예측모델의 정확도를 높여줄 수 있음

In [ ]:
# highway-mpg를 3구간(low, medium, high)으로 나누기 --> 4개의 divider가 필요함
bins = np.linspace(min(car['highway-mpg']), max(car['highway-mpg']), 4)      # 구간자르기
group_names = ['low', 'medium', 'high']                                      # 구간 이름
car['highway-mpg_binned'] = pd.cut(car['highway-mpg'], bins, labels=group_names)

In [ ]:
# Horsepower의 datatype 변경
car['horsepower'] = car['horsepower'].astype('int64', copy=True)

# Histogram으로 distribution 확인하기
import matplotlib as plt
from matplotlib import pyplot
%matplotlib inline
plt.pyplot.hist(car['horsepower'])    # histogram 만들 대상

# plot label 붙이기
plt.pyplot.xlabel('horsepower')
plt.pyplot.ylabel('count')
plt.pyplot.title('horsepower bins')

In [ ]:
# Bin 만들기
bins = np.linspace(car['horsepower'].min(), car['horsepower'].max(), 4)
bins

In [ ]:
# Bin names
bin_names = ['Low', 'Medium', 'High']

# horsepower를 binning하기
car['horsepower-binned'] = pd.cut(car['horsepower'], bins, labels=bin_names, include_lowest=True)
car[['horsepower', 'horsepower-binned']].head(30)

# 각 구간의 개수 보기
car['horsepower-binned'].value_counts()

In [ ]:
# Bar graph로 Plotting
pyplot.bar(group_names, car['horsepower-binned'].value_counts())
plt.pyplot.xlabel('horsepower-group')
plt.pyplot.ylabel('count')
plt.pyplot.title('horsepower bins')

In [ ]:
# Histogram으로 plotting
plt.pyplot.hist(car['horsepower'], bins=3)
plt.pyplot.xlabel('horsepower')
plt.pyplot.ylabel('count')
plt.pyplot.title('hosepower bins')

# Turning categorical variables into quantitative variables in Python
통계모델에 넣기 위해서는 문자이면 안되는 경우가 대부분

Categorical --> Numeric (indicator/dummy variable) : Onehot encoding --> Regression analysis 위해서 
* <b>Indicater/Dummy variable</b> : category를 numeric variable로 바꿔주기 위한 것, 숫자가 의미하는 바가 없기 때문에 "dummies"

In [ ]:
# fuel-type 행만 인코딩됨
encoded = pd.get_dummies(car['fuel-type'])
encoded.head()

In [ ]:
# 정확하게 하기 위해 컬럼 이름 바꾸기
encoded.rename(columns={'diesel':'fuel-type-diesel', 'gas':'fuel-type-gas'}, inplace=True)
encoded
car

In [ ]:
# 먼저 원래 dataframe에 위에 만들어진 인코딩 dataframe을 합치기 - concatenate
df = pd.concat([car, encoded], axis=1)
# fuep-type 컬럼 drop
df.drop(columns=['fuel-type'], inplace=True)
# 또는
df.drop('fuel-type', axis=1, inplace=True)

In [ ]:
# Aspiration 컬럼에도 해보기
df['aspiration'].value_counts()     # std, turbo로 구성

# onehot-encoding : dummy 만들기
encoded = pd.get_dummies(car['aspiration'])

# 기존 테이블에 합치기
df1 = pd.concat([df, encoded], axis=1)

# 이름 바꿔주기
df1.rename(columns={"std":"aspiration-std", "turbo":"aspiration-turbo"}, inplace=True)

# 기존 aspriation 컬럼 drop
df1.drop('aspiration', axis=1, inplace=True)
df1

In [ ]:
# 전체 열 중에 object, category는 모두 원핫인코딩 됨 (string은 안됨)
a = pd.get_dummies(car)
a

In [ ]:
# 새로운 파일에 저장
df1.to_csv('C:/Users/sori-/Desktop/DSWorkSpace/cleaned_car.csv')